{% extends "base.html" %}

{% block body %}
<div class="content">
    <h1>Data Input:</h1>
    <h2>Ape Input</h2>
        <form action="/add_ape" method="POST">
            <label for="Input Ape"></label><br>
            <input type="text",
            name="Input Ape",
            id="input_ape",
            maxlength="30" /> <br>
            <label for="Submit"></label><br>
            <input type="submit", 
            value="Add Ape", 
            id="btn_add_ape"/> <br>
        </form>
    <h2>Recipes Input</h2>
         <form action="/add_recipe" method="POST">
            <label for="Input Recipe Name">Input Recipe Name</label>
            <input type="text", name="Recipe Name", id="input_recipe" /> <br>
            <label for="Input Description">Input Description</label>
            <input type="text", name="Description", id="input_desc" /> <br>
            <label for="Input Calories">Input Calories</label>
            <input type="number",
             name="Calories",
              id="input_cal",
              min="0"/> <br>
            <input type="submit", value="Add Recipe", id="btn_add_rec" />
        </form>

    <h2>Meals Input</h2>
         <form action="/add_meal" method="POST">
            <label for="Select Ape">Select Ape</label>
            <select name="Select Ape">
                {% for ape in apes %}
                <option value="{{ape.ape_name}}">{{ape.ape_name}}</option>
                {% endfor %}
            </select>
            <label for="Select Meal">Select Meal</label>
            <select name="Select Meal">
                {% for recipe in recipes %}
                <option value="{{recipe.meal_name}}">{{recipe.meal_name}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="Date">Input Date</label>
            <input type="date", name="Date", id="input_date" /> <br>
            <input type="submit", value="Add Meal", id="btn_add_meal" />

        </form>
    <hr>
    <h1>Data Tables</h1>    
    <h2>Apes</h2>
    {% if apes | length < 1%}
    <p>No apes have been entered into the database!</p>
        {% else %}
        <table>
            <tr>
                <th>Ape_Name</th>
            </tr>
            {% for ape in apes %}
            <tr>
                <td>{{ape.ape_name}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    <hr>
    <h2>Recipes</h2>
        {% if recipes | length < 1%}
    <p>No recipes have been entered into the database!</p>
        {% else %}
        <table>
            <tr>
                <th>Recipe_Name</th>
                <th>Description</th>
                <th>Calories</th>
            </tr>
            {% for recipe in recipes %}
            <tr>
                <td>{{recipe.meal_name}}</td>
                <td>{{recipe.description}}</td>
                <td>{{recipe.calories}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    <hr>

    <h2>Meals</h2>
    <p>This shows the resulting data from a query across all 3 tables</p>
        {% if meals | length < 1%}
    <p>No meals have been entered into the database!</p>
        {% else %}
        <table>
            <tr>
                <th>Date</th>
                <th>Ape_Name</th>
                <th>Meal_Name</th>
                <th>Calories</th>
            </tr>
            {% for meal in meals %}
            <tr>
                <td>{{meal.date}}</td>
                <td>{{meal.ape_name}}</td>
                <td>{{meal.meal_name}}</td>
                <td>{{meal.calories}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    <hr>
</div>



{%endblock%}